.text {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  color: #E8D8D8;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

.author {
  font-size: 1.8vw;
  padding-top: 1vh;
}

.container {
  padding-top: 6vh;
}

body {
  background-image: url("../images/background.jpg");
  background-size: 100%;
}
