.text {
  font-family: 'Roboto';
  text-align: center;
  color: #FFFFFF;
  padding-left: 3vw;
  padding-right: 3vw;
}

.author {
  padding-top: 1vh;
  font-weight: bold;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

body {
  background-image: url("../images/background.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #090F2A;
}
