.text {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  color: #E8D8D8;
  padding-left: 15px;
  padding-right: 15px;
}

#quote {
  font-size: 30px;
}

#author {
  font-size: 20px;
  padding-top: 10px;
}

.container {
  padding-top: 130px;
}

body {
  background-image: url("../images/background.jpg");
  background-size: 100%;
}
