* {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  color: #E8D8D8;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  background-image: url("../images/background.jpg");
  background-size: 100%;
}
